* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f5;
}

form,
header,
.clear-completed-btn {
  border-bottom: 1px solid #ddd;
}

h1 {
  font-size: 20px;
}

.fa {
  font-size: 24px;
  cursor: pointer;
  width: 10px;
}

.icons {
  width: 10px;
}

.icons:hover .tri-dots,
.icons .trash {
  display: none;
}

.icons:hover .trash {
  display: inline;
}

header,
form {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.new-task-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  flex: 1;
}

.add-task-btn {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.main {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.task-list {
  list-style: none;
  margin-top: 30px;
}

.task-list li {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.clear-completed-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
}
